<h1> Bienvenue cher visiteur ! </h1>
<h3> Voici la listes des potins :</h3>

<% @gossips.each_with_index do |gossip, i|%>
  <p>
    Auteur : <%= @gossips[i].user.first_name %> </br>
    Titre : <%= @gossips[i].title %> </br>
    <%= link_to "Page du potin", gossip_path(@gossips[i])%>
  </p>
<% end %>