<h1> Bienvenue cher visiteur ! </h1>
<h3> Voici la listes des potins :</h3>


<div id="lol">
  <% @gossips.each_with_index do |gossip, i|%>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Titre : <%= @gossips[i].title %></h5>
        <p class="card-text">Auteur : <%= @gossips[i].user.first_name %></p>
        <%= link_to "Page du potin", gossip_path(@gossips[i])%>
      </div>
    </div>
  <% end %>
</div>